@import "tailwindcss";

:root {
  --background: #050816;
  --foreground: #f8fafc;

  --primary: #00f5ff;
  --secondary: #8b5cf6;
  --muted: #94a3b8;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, sans-serif;
  overflow-x: hidden;
}

code {
  font-family: var(--font-jetbrains), monospace;
}


::selection {
  background: var(--primary);
  color: #050816;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    var(--primary),
    var(--secondary)
  );
  border-radius: 20px;
}


@keyframes pulse-glow {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.glow {
  animation: pulse-glow 4s infinite;
}